* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("/backimg.jpg") no-repeat center center/cover;
  font-family: "Poppins", sans-serif;
  color: rgb(85, 18, 18);
}
.container {
  margin: 50px 0;
  text-align: center;
}
.card {
  width: 350px;
  height: 450px;
  background-color: bisque;
  display: inline-block;
  margin-left: 200px;
}
.img-card {
  width: 350px;
  height: 300px;
}
h2,
h3 {
  margin: 0;
}
.card-links {
  padding-top: 10px;
}
a:link {
  color: rgb(125, 133, 18);
  text-decoration: underline;
  padding-right: 5px;
}
