:root{
  --nav-menu-color: rgb(93, 124, 136);
  --nav-menu-li-a:#333;
  --bisque-color:bisque;
  --blue-color:blue;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("/backimg.jpg") no-repeat center center/cover;
  font-family: "Poppins", sans-serif;
  color: rgb(85, 18, 18);
}
header{
  position:sticky;
  top:0;
  
}
.nav-menu {
  list-style: none;
  border 1px solid #ddd;
  width: 100%;
  background-color: var(--nav-menu-color);
  
  overflow: auto;
  float: right;
}
.nav-menu li {
  font-size: 18px;
  line-height: 2.4em;
  float: right;
 
}

.nav-menu li a {
  color:var(--nav-menu-li-a);
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}
.nav-menu li a:hover{
  color: #fff;
  background-color: #446190;
}
.container {
  margin: 50px 0;
  text-align: center;
  clear: right;
}
.aside-part{
  width: 200px;
  height: 300px;
  background-color: aliceblue;
  margin: 30px 10px 100px;
  float:right;
  text-align: center;
  overflow: hidden;
}

#card-section{
clear: right;
}
.card {
  width: 350px;
  height: 450px;
  background-color: var(--bisque-color);
  display: inline-block;
  margin-left: 200px;
  }
.img-card {
  width: 350px;
  height: 300px;
}
h2,
h3 {
  margin: 0;
}
.card-links {
  padding-top: 10px;
}
a:link {
  color: rgb(125, 133, 18);
  text-decoration: underline;
  padding-right: 5px;
}
.card button{
  margin-left:90px;
}
.register_f {
  padding: 10px 40px;
  color: #fff;
  background-color: limegreen;
  font-size: 25px;
  border: none;
}
.register_f:hover {
  background-color: rgb(57, 172, 57);
}
.clear_r {
  padding: 8px 35px;
  color: #fff;
  background-color: gold;
  font-size: 20px;
  border: none;
  border-radius: 50px;
}
.clear_r:hover {
  background-color: rgb(218, 191, 42);
}
.submit_fg {
  padding: 5px 30px;
  color: #333;
  background-color: var(--bisque-color);
  font-size: 18px;
  border: 3px solid dodgerblue;
}
.submit_fg:hover {
  background-color: dodgerblue;
}
footer {
  margin: 100px 0;
}
.social_links_section {
  margin-left: 770px;
}
.social-links li {
  color: var(--blue-color);
  float: left;
  padding-right: 50px;
  margin-bottom: 100px;
}

/* MEDIA QUERY */

@media (max-width: 1200px) {
  .aside-part,#card-section,footer,header {
    display: none;
    }
}