* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbulb {
  margin: 100px auto;
  display: flex;
  background: url("./onBulb.jpg") no-repeat center center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.offLight {
  background: url("./offBulb.jpg") no-repeat center center;
}
