* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* line-height: 1.6; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5vh;
  width: 100vw;
  height: 100vh;
}
.jokeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin: 0;
}
